{% extends 'base.html.twig' %}

{% block title %}Formulario{% endblock %}

{% block body %}
  <form action="" method="post">
    <label for="name">Nome da série:</label>
    <input type="text" name="name" id="name">
  </form>
{% endblock %}