{% extends 'base.html.twig' %}

{% block title %}Hello OlaMundoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Otavio/Documents/cursos/alura_cursos/EscolaProgramacao/PHP/PHP_22_Symfony_01/php_22_symfony_01/controle_series_symfony/src/Controller/OlaMundoController.php</code></li>
        <li>Your template at <code>C:/Users/Otavio/Documents/cursos/alura_cursos/EscolaProgramacao/PHP/PHP_22_Symfony_01/php_22_symfony_01/controle_series_symfony/templates/ola_mundo/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
